body {
  background-image: url('..assets\images/temp.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.custom-card {
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 10px !important;
}